Repository BushiWeb/bushiweb.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(global): add styling tokens to source CSS
  frontend/assets/styles/base/base.css
  frontend/assets/styles/index.css
  frontend/assets/styles/patterns/index.css
  frontend/assets/styles/patterns/typography.css
  frontend/assets/styles/variables/border-radius.css
  frontend/assets/styles/variables/border-width.css
  frontend/assets/styles/variables/color.css
  frontend/assets/styles/variables/font-family.css
  frontend/assets/styles/variables/font-size.css
  frontend/assets/styles/variables/font-weight.css
  frontend/assets/styles/variables/index.css
  frontend/assets/styles/variables/line-height.css
  frontend/assets/styles/variables/media.css
  frontend/assets/styles/variables/opacity.css
  frontend/assets/styles/variables/size.css
  frontend/assets/styles/variables/space.css
Due: stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(Home): create home page and global ui
  frontend/app/App.tsx
  frontend/assets/images/logo/logo_dark.png
  frontend/assets/images/logo/logo_dark.svg
  frontend/assets/images/logo/logo_light.png
  frontend/assets/images/logo/logo_light.svg
  frontend/assets/images/logo/logo_text_dark.png
  frontend/assets/images/logo/logo_text_dark.svg
  frontend/assets/images/logo/logo_text_light.png
  frontend/assets/images/logo/logo_text_light.svg
  frontend/assets/styles/variables/font-size.css
  frontend/assets/styles/variables/index.css
  frontend/assets/styles/variables/layer.css
  frontend/assets/styles/variables/media.css
  frontend/assets/styles/variables/size.css
  frontend/main.tsx
  frontend/pages/UI/UI.css
  frontend/pages/UI/UI.test.tsx
  frontend/pages/UI/UI.tsx
  frontend/pages/UI/home/Background.tsx
  frontend/pages/UI/home/Home.css
  frontend/pages/UI/home/Home.test.tsx
  frontend/pages/UI/home/Home.tsx
  frontend/pages/UI/home/index.ts
  frontend/pages/UI/index.ts
  frontend/shared/components/Logo/Logo.const.ts
  frontend/shared/components/Logo/Logo.test.tsx
  frontend/shared/components/Logo/Logo.tsx
  frontend/shared/components/Logo/LogoProps.ts
  frontend/shared/components/Logo/index.ts
  frontend/shared/tests/tests-utils.ts
  frontend/widgets/Footer/Footer.css
  frontend/widgets/Footer/Footer.test.tsx
  frontend/widgets/Footer/Footer.tsx
  frontend/widgets/Footer/index.ts
  frontend/widgets/Header/Header.css
  frontend/widgets/Header/Header.test.tsx
  frontend/widgets/Header/Header.tsx
  frontend/widgets/Header/index.ts
  vite.config.ts
  vitest-setup.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(legal): add the legal notice page
  frontend/assets/styles/base/base.css
  frontend/assets/styles/patterns/typography.css
  frontend/assets/styles/variables/color.css
  frontend/assets/styles/variables/font-family.css
  frontend/assets/styles/variables/font-size.css
  frontend/pages/UI/UI.css
  frontend/pages/UI/UI.tsx
  frontend/pages/UI/legal-notice/LegalNotice.css
  frontend/pages/UI/legal-notice/LegalNotice.data.ts
  frontend/pages/UI/legal-notice/LegalNotice.test.tsx
  frontend/pages/UI/legal-notice/LegalNotice.tsx
  frontend/pages/UI/legal-notice/index.ts
  frontend/shared/components/Heading/Heading.const.ts
  frontend/shared/components/Heading/Heading.css
  frontend/shared/components/Heading/Heading.props.ts
  frontend/shared/components/Heading/Heading.test.tsx
  frontend/shared/components/Heading/Heading.tsx
  frontend/shared/components/Heading/index.ts
  frontend/shared/components/Paragraph/Paragraph.const.ts
  frontend/shared/components/Paragraph/Paragraph.css
  frontend/shared/components/Paragraph/Paragraph.test.tsx
  frontend/shared/components/Paragraph/Paragraph.tsx
  frontend/shared/components/Paragraph/index.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(routing): add router
  .gitignore
  frontend/app/App.tsx
  frontend/pages/UI/UI.tsx
  frontend/routes/__root.tsx
  frontend/routes/_ui/index.tsx
  frontend/routes/_ui/mentions-legales.tsx
  frontend/routes/_ui/route.tsx
  frontend/widgets/TanStackRouterDevtools/index.tsx
  package-lock.json
  package.json
  tsr.config.json
  vite.config.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(routing): add links in footer and header
  frontend/widgets/Footer/Footer.css
  frontend/widgets/Footer/Footer.test.tsx
  frontend/widgets/Footer/Footer.tsx
  frontend/widgets/Header/Header.css
  frontend/widgets/Header/Header.test.tsx
  frontend/widgets/Header/Header.tsx
  vitest-setup.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

🐛fix(home): hero sections goes to the bottom
  frontend/pages/UI/home/Home.css
Due: stylelint --cache --fix --max-warnings 0, prettier . --write --cache

⚙️ chore(indexation): create sitemap and robots
  frontend/widgets/Footer/Footer.test.tsx
  frontend/widgets/Footer/Footer.tsx
  public/robots.txt
  public/sitemap.xml
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(legal): add privacy policy page
  frontend/pages/UI/legal-notice/LegalNotice.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.css
  frontend/pages/UI/privacy-policy/PrivacyPolicy.data.ts
  frontend/pages/UI/privacy-policy/PrivacyPolicy.test.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/pages/UI/privacy-policy/index.ts
  frontend/routes/_ui/politique-de-confidentialite.tsx
  frontend/shared/components/edition/Heading/Heading.const.ts
  frontend/shared/components/edition/Heading/Heading.css
  frontend/shared/components/edition/Heading/Heading.props.ts
  frontend/shared/components/edition/Heading/Heading.test.tsx
  frontend/shared/components/edition/Heading/Heading.tsx
  frontend/shared/components/edition/Heading/index.ts
  frontend/shared/components/edition/Paragraph/Paragraph.const.ts
  frontend/shared/components/edition/Paragraph/Paragraph.css
  frontend/shared/components/edition/Paragraph/Paragraph.test.tsx
  frontend/shared/components/edition/Paragraph/Paragraph.tsx
  frontend/shared/components/edition/Paragraph/index.ts
  frontend/shared/config/website-information.ts
  frontend/widgets/Footer/Footer.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

♻️ refactor(legal): use global data for legal info
  frontend/pages/UI/legal-notice/LegalNotice.data.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

♻️ refactor(edition): create component for links
  frontend/assets/styles/base/base.css
  frontend/pages/UI/legal-notice/LegalNotice.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/shared/components/edition/Link/Link.css
  frontend/shared/components/edition/Link/Link.props.ts
  frontend/shared/components/edition/Link/Link.test.tsx
  frontend/shared/components/edition/Link/Link.tsx
  frontend/shared/components/edition/Link/index.ts
  frontend/shared/components/edition/index.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

♻️ refactor(edition): create DL component
  frontend/assets/styles/base/base.css
  frontend/pages/UI/legal-notice/LegalNotice.tsx
  frontend/pages/UI/privacy-policy/CollectedData.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.data.ts
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionList.css
  frontend/shared/components/edition/DescriptionList/DescriptionList.props.ts
  frontend/shared/components/edition/DescriptionList/DescriptionList.test.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionList.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionListDescription.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionListItem.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionListTerm.tsx
  frontend/shared/components/edition/DescriptionList/index.ts
  frontend/shared/components/edition/index.tsx
  frontend/shared/config/website-information.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

♻️ refactor(edition): export lists to component
  frontend/pages/UI/privacy-policy/CollectedData.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/shared/components/edition/DescriptionList/DescriptionList.css
  frontend/shared/components/edition/List/List.css
  frontend/shared/components/edition/List/List.props.ts
  frontend/shared/components/edition/List/List.test.tsx
  frontend/shared/components/edition/List/List.tsx
  frontend/shared/components/edition/List/ListItem.tsx
  frontend/shared/components/edition/List/index.ts
  frontend/shared/components/edition/index.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

♻️ refactor(legal): split the legal documents
  frontend/pages/UI/legal-notice/LegalNotice.tsx
  frontend/pages/UI/legal-notice/sections/Company.tsx
  frontend/pages/UI/legal-notice/sections/Copyright.tsx
  frontend/pages/UI/legal-notice/sections/Edition.tsx
  frontend/pages/UI/legal-notice/sections/Host.tsx
  frontend/pages/UI/legal-notice/sections/HypertextAndCookies.tsx
  frontend/pages/UI/legal-notice/sections/Jurisdiction.tsx
  frontend/pages/UI/legal-notice/sections/Owner.tsx
  frontend/pages/UI/legal-notice/sections/Responsabilities.tsx
  frontend/pages/UI/legal-notice/sections/Rgpd.tsx
  frontend/pages/UI/legal-notice/sections/index.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/pages/UI/privacy-policy/sections/CollectedData.tsx
  frontend/pages/UI/privacy-policy/sections/Consent.tsx
  frontend/pages/UI/privacy-policy/sections/Contact.tsx
  frontend/pages/UI/privacy-policy/sections/Goals.tsx
  frontend/pages/UI/privacy-policy/sections/Juveniles.tsx
  frontend/pages/UI/privacy-policy/sections/Laws.tsx
  frontend/pages/UI/privacy-policy/sections/Updates.tsx
  frontend/pages/UI/privacy-policy/sections/UserRights.tsx
  frontend/pages/UI/privacy-policy/sections/index.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(legal): add cookie policy page
  frontend/assets/styles/base/base.css
  frontend/pages/UI/cookie-policy/CookiePolicy.css
  frontend/pages/UI/cookie-policy/CookiePolicy.data.ts
  frontend/pages/UI/cookie-policy/CookiePolicy.test.tsx
  frontend/pages/UI/cookie-policy/CookiePolicy.tsx
  frontend/pages/UI/cookie-policy/index.ts
  frontend/pages/UI/cookie-policy/sections/Consent.tsx
  frontend/pages/UI/cookie-policy/sections/Contact.tsx
  frontend/pages/UI/cookie-policy/sections/CookieDescription.tsx
  frontend/pages/UI/cookie-policy/sections/Cookies.tsx
  frontend/pages/UI/cookie-policy/sections/Introduction.tsx
  frontend/pages/UI/cookie-policy/sections/NecessaryCookies.tsx
  frontend/pages/UI/cookie-policy/sections/OptionalCookies.tsx
  frontend/pages/UI/cookie-policy/sections/ThirdPartyCookie.tsx
  frontend/pages/UI/cookie-policy/sections/Updates.tsx
  frontend/pages/UI/cookie-policy/sections/index.tsx
  frontend/pages/UI/legal-notice/sections/HypertextAndCookies.tsx
  frontend/pages/UI/privacy-policy/PrivacyPolicy.tsx
  frontend/routes/_ui/politique-de-cookies.tsx
  frontend/widgets/Footer/Footer.css
  frontend/widgets/Footer/Footer.test.tsx
  frontend/widgets/Footer/Footer.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(social): add social links to footer
  frontend/assets/styles/variables/color.css
  frontend/widgets/Footer/Footer.css
  frontend/widgets/Footer/Footer.test.tsx
  frontend/widgets/Footer/Footer.tsx
  index.html
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(widget): create navigation drawer
  frontend/assets/styles/variables/color.css
  frontend/assets/styles/variables/layer.css
  frontend/assets/styles/variables/opacity.css
  frontend/shared/tests/changeViewportWidth.ts
  frontend/shared/tests/user-event.ts
  frontend/widgets/Header/Header.tsx
  frontend/widgets/Navigation/Navigation.context.ts
  frontend/widgets/Navigation/Navigation.css
  frontend/widgets/Navigation/Navigation.props.ts
  frontend/widgets/Navigation/Navigation.test.tsx
  frontend/widgets/Navigation/Navigation.tsx
  frontend/widgets/Navigation/NavigationDrawer.tsx
  frontend/widgets/Navigation/index.ts
  package-lock.json
  package.json
  stylelint.config.js
  vitest-setup.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(shared): create FAB button component
  frontend/assets/styles/variables/size.css
  frontend/routes/__root.tsx
  frontend/shared/components/FAB/FAB.css
  frontend/shared/components/FAB/FAB.props.ts
  frontend/shared/components/FAB/FAB.test.tsx
  frontend/shared/components/FAB/FAB.tsx
  frontend/widgets/Navigation/Navigation.test.tsx
  frontend/widgets/Navigation/Navigation.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(shared): create IconButton component
  frontend/shared/components/IconButton/IconButton.css
  frontend/shared/components/IconButton/IconButton.props.ts
  frontend/shared/components/IconButton/IconButton.test.tsx
  frontend/shared/components/IconButton/IconButton.tsx
  frontend/widgets/Navigation/Navigation.css
  frontend/widgets/Navigation/Navigation.test.tsx
  frontend/widgets/Navigation/NavigationDrawer.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(nav): change navigation style on tablet
  frontend/widgets/Navigation/Navigation.css
Due: stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(nav): add inline navigation
  frontend/app/App.tsx
  frontend/features/breakpoint/Breakpoint.const.ts
  frontend/features/breakpoint/Breakpoint.context.ts
  frontend/features/breakpoint/Breakpoint.utils.ts
  frontend/features/breakpoint/BreakpointProvider.tsx
  frontend/features/breakpoint/useBreakpoints.ts
  frontend/routes/__root.tsx
  frontend/shared/components/IconButton/IconButton.css
  frontend/shared/tests/Wrapper.tsx
  frontend/widgets/Footer/Footer.css
  frontend/widgets/Header/Header.css
  frontend/widgets/Navigation/Navigation.css
  frontend/widgets/Navigation/Navigation.tsx
  frontend/widgets/Navigation/NavigationDrawer.tsx
  frontend/widgets/Navigation/NavigationInline.tsx
  stylelint.config.js
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

⚒️ build: add containerization
  .dockerignore
  Dockerfile
  frontend/pages/UI/home/Building.tsx
  frontend/pages/UI/home/Home.css
  frontend/pages/UI/home/Home.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

🐛fix((prod)): fix can't access to non root URL
  Dockerfile
  nginx.conf
  package.json
Due: prettier --write --cache

⚙️ chore(analysis): add GTM tags
  index.html
  package.json
Due: prettier --write --cache

✨feat(backend): copy express bootstrap code
  .gitignore
  backend/app/app.js
  backend/config/config.js
  backend/config/schema.js
  backend/index.js
  backend/server/getConnectionInformations.js
  backend/server/normalizePort.js
  backend/server/server.js
  backend/services/logger/config/development.logger-config.js
  backend/services/logger/config/global.logger-config.js
  backend/services/logger/config/production.logger-config.js
  backend/services/logger/http-logger.js
  backend/services/logger/logger.js
  config/development.json
  config/shared.json
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(contact): add contact page draft
  backend/app/app.js
  backend/controllers/contactForm/contactForm-sendMail.action.js
  backend/controllers/contactForm/contactForm.router.js
  frontend/pages/UI/contact/Contact.css
  frontend/pages/UI/contact/Contact.test.tsx
  frontend/pages/UI/contact/Contact.tsx
  frontend/routes/_ui/contact.tsx
  frontend/widgets/Navigation/Navigation.context.ts
  vite.config.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

🗑️ revert(backend): remove backend
  .gitignore
  backend/app/app.js
  backend/config/config.js
  backend/config/schema.js
  backend/controllers/contactForm/contactForm-sendMail.action.js
  backend/controllers/contactForm/contactForm.router.js
  backend/index.js
  backend/server/getConnectionInformations.js
  backend/server/normalizePort.js
  backend/server/server.js
  backend/services/logger/config/development.logger-config.js
  backend/services/logger/config/global.logger-config.js
  backend/services/logger/config/production.logger-config.js
  backend/services/logger/http-logger.js
  backend/services/logger/logger.js
  config/development.json
  config/shared.json
  frontend/pages/UI/contact/Contact.css
  frontend/pages/UI/contact/Contact.test.tsx
  frontend/pages/UI/contact/Contact.tsx
  frontend/routes/_ui/contact.tsx
  frontend/widgets/Navigation/Navigation.context.ts
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(shared): create Logo component
  package.json
  pnpm-lock.yaml
  public/logo/logo-circle.svg
  public/logo/logo.svg
  public/logo/logo_circle_dark.png
  public/logo/logo_circle_light.png
  public/logo/logo_dark.png
  public/logo/logo_dark.svg
  public/logo/logo_light.png
  public/logo/logo_light.svg
  public/logo/logo_name.svg
  public/logo/logo_text_dark.png
  public/logo/logo_text_dark.svg
  public/logo/logo_text_light.png
  public/logo/logo_text_light.svg
  src/app/page.tsx
  src/shared/components/Logo/Logo.const.ts
  src/shared/components/Logo/Logo.props.ts
  src/shared/components/Logo/Logo.test.tsx
  src/shared/components/Logo/Logo.tsx
  src/shared/tests/Wrapper.tsx
  src/shared/tests/utils.ts
  tsconfig.json
  vitest-setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

🐛fix(tsconfig): fix path aliases
  src/shared/components/Logo/Logo.tsx
  tsconfig.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

♻️ refactor(tsconfig): change path aliases
  eslint.config.js
  src/shared/components/Logo/Logo.test.tsx
  src/shared/components/Logo/Logo.tsx
  tsconfig.json
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(widgets): create Header component
  src/app/layout.tsx
  src/app/page.tsx
  src/widgets/Header/Header.test.tsx
  src/widgets/Header/Header.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(widgets): create Footer component
  src/app/layout.tsx
  src/widgets/Footer/Footer.test.tsx
  src/widgets/Footer/Footer.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(app): create RootLayout and Home page
  src/app/_ui/Background.tsx
  src/app/_ui/font.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/tests/utils.ts
  tailwind-theme/spacing.ts
  tailwind-theme/z-index.ts
  tailwind.config.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache, stylelint --cache --fix --max-warnings 0, prettier . --write --cache

✨feat(footer): improve Footer
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/components/SocialLinks/SocialLink.props.tsx
  src/shared/components/SocialLinks/SocialLink.tsx
  src/shared/components/SocialLinks/SocialLinks.test.tsx
  src/shared/components/SocialLinks/SocialLinks.tsx
  src/widgets/Footer/Footer.test.tsx
  src/widgets/Footer/Footer.tsx
  src/widgets/Footer/FooterNav.tsx
  tailwind-theme/base-colors.ts
  tailwind-theme/fontSize.ts
  tailwind-theme/semantic-colors.ts
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(shared/edition): create Heading component
  src/shared/components/edition/Heading/Heading.const.ts
  src/shared/components/edition/Heading/Heading.props.ts
  src/shared/components/edition/Heading/Heading.test.tsx
  src/shared/components/edition/Heading/Heading.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(shared/edition): create Paragraph component
  src/shared/components/edition/Heading/Heading.const.ts
  src/shared/components/edition/Heading/Heading.tsx
  src/shared/components/edition/Paragraph/Paragraph.props.ts
  src/shared/components/edition/Paragraph/Paragraph.test.tsx
  src/shared/components/edition/Paragraph/Paragraph.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(shared/edition): create Link component
  src/shared/components/edition/Heading/Heading.tsx
  src/shared/components/edition/Link/Link.props.ts
  src/shared/components/edition/Link/Link.test.tsx
  src/shared/components/edition/Link/Link.tsx
  src/shared/components/edition/Paragraph/Paragraph.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(shared/edition): create List component
  src/shared/components/edition/List/List.props.ts
  src/shared/components/edition/List/List.test.tsx
  src/shared/components/edition/List/List.tsx
  src/shared/components/edition/List/ListItem.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

✨feat(shared/edition): create DescriptionList comp
  src/shared/components/edition/DescriptionList/DescriptionList.props.ts
  src/shared/components/edition/DescriptionList/DescriptionList.test.tsx
  src/shared/components/edition/DescriptionList/DescriptionList.tsx
  src/shared/components/edition/DescriptionList/DescriptionListDescription.tsx
  src/shared/components/edition/DescriptionList/DescriptionListItem.tsx
  src/shared/components/edition/DescriptionList/DescriptionListTerm.tsx
Due: eslint --fix --max-warnings 0 --cache, prettier --write --cache

Path conditions:
  eslint --fix --max-warnings 0 --cache: any of: **/*.{js,jsx,ts,tsx}
  prettier --write --cache: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{html,json,md})
  stylelint --cache --fix --max-warnings 0: any of: **/*.css
  prettier . --write --cache: any of: **/*.css
